main {
	margin-left:100px;
	margin-top:50px;
	display:flex;
	justify-content:center;
	gap:90px;
	z-index:1;
}
.main-left {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:30px;
}
header {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.main-title {
	font-family:'Smooch Sans',sans-serif;
	font-size:130px;
}
.under-title {
	font-family:'Poppins',sans-serif;
	margin-top:-20px;
}
.form-login {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:25px;
}
input {
	background-color:#f1f1f1;
	font-family:'Poppins',sans-serif;
	font-size:15px;
	border-radius:15px;
	box-sizing:border-box;
	outline:none;
	padding:20px;
	width:400px;
	border:none;
}
.next-b {
	background-color:#1e1e1e;
	color:white;
	font-family:'Smooch Sans',sans-serif;
	font-size:20px;
	box-sizing:border-box;
	border:none;
	outline:none;
	padding:20px;
	width:400px;
	border-radius:15px;
	cursor:pointer;
	display:inline-block;
	&:active,&:hover {
		background-color:#708090;
	}
}
.next-b a:link {
	text-decoration:none;
	color:white;
}
.next-b a:visited {
	text-decoration:none;
	color:white;
}
.form-login-other {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:20px;
}
.login-other {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:6px;
}
.other-line {
	padding:0.7px;
	width:120px;
	background-color:#e5e5e5;
}
.other-text-1 {
	font-family:'Poppins',sans-serif;
	font-weight: 700;
	font-size:15px;
}
.other-text-2 {
	font-family:'Poppins',sans-serif;
	font-weight: 300;
	font-size:15px;
}
.login-other-button {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:20px;
}
.login-sm {
	background-color:white;
	padding:10px;
	width:400px;
	box-sizing:border-box;
	border-radius:15px;
	border:1px solid black;
}
.login-sm-content {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:10px;
}
.login-sm-text {
	font-family:'Poppins',sans-serif;
	color:black;
	text-decoration:none;
	margin-left:-4px;
	&:active,&:hover {
		text-decoration:none;
	}
}
.login-sm-text-2 {
	font-family:'Poppins',sans-serif;
	font-weight: 700;
	color:black;
	text-decoration:none;
	margin-left:-4px;
	&:active,&:hover {
		text-decoration:none;
	}
}
.vector {
	margin-top:-200px;
	margin-left:-78px;
	z-index:0;
}