main {
	margin-left:100px;
	margin-top:50px;
	display:flex;
	justify-content:center;
	gap:90px;
	z-index:1;
}
.ana-kisim {
	display:flex;
	flex-direction:column; /* Elemanları dikey sıralama */
	align-items:center;
	gap:30px; /* Ana kısım elemanları arasında boşluk bırakma */
}
header {
	display:flex;
	flex-direction:column; /* Elemanları dikey sıralama */
	align-items:center;
}
.ana-baslik {
	font-family:'Smooch Sans',sans-serif;
	font-size:130px; /* Font büyüklüğünü ayarlama */
}
.alt-baslik {
	font-family:'Poppins',sans-serif;
	margin-top:-20px;
}
.giris-form { /* Giriş formunu düzenleme */
	display:flex;
	flex-direction:column; /* Elemanları dikey sıralama */
	align-items:center;
	gap:25px;
}
input { /* Input alanlarını stilize etme */
	background-color:#f1f1f1;
	font-family:'Poppins',sans-serif;
	font-size:15px;
	border-radius:15px;
	box-sizing:border-box;
	outline:none;
	padding:20px;
	width:400px;
	border:none;
}
.next_butonu { /* İleri butonunun stillerini ayarlama */
	background-color:#1e1e1e;
	color:white;
	font-family:'Smooch Sans',sans-serif;
	font-size:20px;
	box-sizing:border-box;
	border:none;
	outline:none;
	padding:20px;
	width:400px;
	border-radius:15px;
	cursor:pointer;
	display:inline-block;
	&:active,&:hover {
		background-color:#708090;
	}
}
.next_butonu a:link {
	text-decoration:none;
	color:white;
}
.next_butonu a:visited {
	text-decoration:none;
	color:white;
}
.diger_form_giris { /* Diğer giriş yöntemlerini düzenleme */
	display:flex;
	flex-direction:column; /* Elemanları dikey sıralama */
	align-items:center;
	gap:20px;
}
.giris_2 {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:6px;
}
.giris_cizgisi { /* Giriş çizgisini stilize etme */
	padding:0.7px;
	width:120px;
	background-color:#e5e5e5;
}
.diger-text-1{
	font-family:'Poppins',sans-serif;
	font-weight: 700;
	font-size:15px;
}
.diger-text-2 {
	font-family:'Poppins',sans-serif;
	font-weight: 300;
	font-size:15px;
}
.diger-login-butonu { /* Diğer giriş butonlarını düzenleme */
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:20px;
}
.giris {
	background-color:white;
	padding:10px;
	width:400px;
	box-sizing:border-box;
	border-radius:15px;
	border:1px solid black;
}
.giris-icerigi { /* Giriş içeriğini düzenleme */
	display:flex;
	align-items:center;
	justify-content:center;
	gap:10px;
}
.giris-metni {
	font-family:'Poppins',sans-serif;
	color:black;
	text-decoration:none;
	margin-left:-4px;
	&:active,&:hover { /* Butona tıklanınca ve üzerine gelince arkaplan rengini değiştir */
		text-decoration:none;
	}
}
.giris-metni-2 {
	font-family:'Poppins',sans-serif;
	font-weight: 700;
	color:black;
	text-decoration:none;
	margin-left:-4px;
	&:active,&:hover { /* Butona tıklanınca ve üzerine gelince arkaplan rengini değiştir */
		text-decoration:none;
	}
}
.vector { /* Vektörü konumlandırma */
	margin-top:-200px;
	margin-left:-78px; /* Vektörün sol marjını ayarla */
	z-index:0; /* Vektörün katman sırasını belirle */
}